
              <%=  @id_gossips.title %><br>
        <%=  @id_gossips.content %><br>
        <%=  @id_gossips.created_at %><br>
   <a href="/user/<%= @id_gossips.user_id %>"><%=  @id_gossips.user.first_name %></a>
        

